<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>What makes me grunt by Fabien Doiron</title>

        <meta name="description" content="A presentation on how build tools can help a front-end developer workflow">
        <meta name="author" content="Fabien Doiron">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="../common/css/reveal.min.css">
        <link rel="stylesheet" href="../common/css/theme/fabien.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="../common/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="../common/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="../common/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section data-background="img/automation.jpg">
                    <h1>what makes me &ldquo;Grunt&rdquo;?</h1>
                    <p>developer happiness courtesy of automation</p>
                    <p class="footnote">
                        <small><a href="http://fabien-d.github.io">Fabien Doiron</a> / <a href="http://twitter.com/fabien_doiron">@fabien_doiron</a></small>
                    </p>
                </section>

                <section data-background="img/crazy.gif">
                    <h1>no automation</h1>
                    <h3>make me go something something</h3>
                </section>

                <section data-background="img/pingpong.jpg">
                    <h1>I work on Crated</h1>
                    <h3>software developer, front-end</h3>
                    <img src="img/avatar.jpg" class="avatar">
                    <p><a href="http://twitter.com/fabien_doiron">@fabien_doiron</a></p>
                </section>

                <section data-background="img/pingpong.jpg">
                    <p>
                        <a href="http://www.canvaspop.com" style="margin: 0 15px;"><img src="img/cp-logo.png"></a>
                        <a href="http://www.dna11.com" style="margin: 0 15px;"><img src="img/dna-logo.png"></a>
                        <a href="http://www.crated.com" style="margin: 0 15px;"><img src="img/crated-logo.png"></a>
                    </p>
                    <p>
                        <a href="http://developers.canvaspop.com" style="margin: 0 15px;"><img src="img/cpapi-logo.png"></a>
                        <a href="http://remade.canvaspop.com" style="margin: 0 15px;"><img src="img/remade-logo.png"></a>
                    </p>
                </section>

                <section>
                    <h3>when I got into development</h3>
                    <h2>front-end development was pretty simple</h2>
                </section>

                <section>
                    <h3>typical tools</h3>
                    <h2>HTML / CSS / JS / FTP / browser</h2>
                </section>

                <section>
                    <h3>then something happened</h3>
                    <h2>front-end development became complex</h2>
                </section>

                <section>
                    <h3>current typical tools</h3>
                    <h2>linting / preprocessors / concatenation / minification / versioning / testing / coverage / dependency management / continuous deployment / version control / frameworks / libraries&hellip;</h2>
                </section>

                <section>
                    <h2>stack overview</h2>
                    <br>
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: left;">devops:</th>
                            <td style="text-align: left;">
                                <a href="http://www.getchef.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/chef-logo.png" height="100"></a>
                                <a href="http://www.vagrantup.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/vagrant-logo.png" height="100"></a>
                            </td>
                        </tr>
                        <tr class="fragment">
                            <th style="text-align: left;">back-end:</th>
                            <td style="text-align: left;">
                                <a href="http://www.phing.info/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/phing-logo.png"></a>
                                <a href="http://framework.zend.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/zf2-logo.png" height="75"></a>
                                <a href="https://getcomposer.org/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/composer-logo.png" height="100"></a>
                            </td>
                        </tr>
                        <tr class="fragment">
                            <th style="text-align: left;">front-end:</th>
                            <td style="text-align: left;">
                                <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png" height="125"></a>
                                <a href="http://www.bower.io/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/bower-logo.png" height="125"></a>
                                <a href="http://www.npmjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/npm-logo.png" height="75"></a>
                            </td>
                        </tr>
                    </table>
                </section>

                <section data-background="img/crated.jpg">
                    <h1>4 reasons</h1>
                    <h3>we use build tools &amp; automation</h3>
                    <p>
                        <a href="http://www.phing.info/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/phing-logo.png"></a>
                        <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png" height="125"></a>
                    </p>
                </section>

                <section>
                    <h1>build tools</h1>
                    <h3>in 10 seconds or less</h3>
                </section>

                <section>
                    <h2>what?</h2>
                    <h3>automation</h3>
                </section>

                <section>
                    <h2>why?</h2>
                    <h3>automate what you have but don't want to do</h3>
                </section>

                <section>
                    <h2>how?</h2>
                    <h3>configure a task once, run as often as you want</h3>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> build task:target&nbsp;</code>
                </section>

                <section>
                    <h2>who?</h2>
                    <h3>Grunt, Gulp, Phing, Make, Rake, Jake, Brunch, Ant&hellip;</h3>
                </section>

                <section data-background="img/time.jpg"></section>

                <section>
                    <h3>1.</h3>
                    <h1>project setup</h1>
                </section>

                <section>
                    <h2>project setup: goal</h2>
                    <h3>coding ready in minutes</h3>
                </section>

                <section>
                    <h2>project setup: tools</h2>
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: left;">provision:</th>
                            <td style="text-align: left;">
                                <a href="http://www.vagrantup.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/vagrant-logo.png" height="100"></a>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">build tools:</th>
                            <td style="text-align: left;">
                                <a href="http://www.phing.info/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/phing-logo.png"></a>
                                <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png" height="125"></a>
                            </td>
                        </tr>
                    </table>
                </section>

                <section data-background="img/steps.jpg">
                    <h2>project setup</h2>
                    <h3>in 3 easy steps</h3>
                </section>

                <section style="text-align: left;">
                    <h2>1.</h2>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> git clone &hellip;</code><br>
                    <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# get code from repository</code>
                    <br><br>
                    <div class="fragment">
                        <code><span style="color:#AFAD24">~ &#x25B8;</span> git pull</code><br>
                        <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# get latest code from repository</code>
                    </div>
                </section>

                <section style="text-align: left;">
                    <h2>2.</h2>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> vagrant up</code><br>
                    <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# puts together a complete environment<br>
&nbsp;&nbsp;&nbsp;&nbsp;# provision environment with chef</code>
                </section>

                <section style="text-align: left;">
                    <h2>3.</h2>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> phing proj:build</code><br>
                    <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# get deps with composer, npm &amp; bower<br>
&nbsp;&nbsp;&nbsp;&nbsp;# database migration with phinx<br>
&nbsp;&nbsp;&nbsp;&nbsp;# front-end build with grunt</code>
                    <br><br>
                    <div class="fragment">
                        <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build</code><br>
                        <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# lint, preprocess, concat, min, version<br>
&nbsp;&nbsp;&nbsp;&nbsp;# my personal favourite: ascii</code>
                    </div>
                </section>

                <section data-background="img/ascii.png"></section>

                <section data-background="img/coffee.jpg"></section>

                <section>
                    <h3>2.</h3>
                    <h1>project output</h1>
                </section>

                <section>
                    <h2>project output: goal</h2>
                    <h3>reproducible results regardless of developer setup/workflow</h3>
                </section>

                <section data-background="#BC0621">
                    <img src="img/works-on-my-machine.png">
                </section>

                <section>
                    <h2>project output: tools</h2>
                    <br>
                    <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png"></a>
                </section>

                <section>
                    <h2>reduce the risk of
                    <br>&ldquo;works on my machine&rdquo;<br>
                    by abstracting the output settings from the user to the build tool</h2>
                </section>

                <section>
                    <h2>example: compiling Sass into CSS</h2>
                    <h3>user settings</h3>
                    <br>
                    <div class="fragment">
                        <p style="text-align: left;">
                            <code><span style="color:#AFAD24">~ &#x25B8;</span> sass in.scss:out.css --style expanded</code><br>
                            <code><span style="color:#AFAD24">~ &#x25B8;</span> sass in.scss:out.css --style nested</code>
                        </p>
                    </div>

                    <div class="fragment">
                        <p style="text-align: left;">
                            <img src="img/codekit.png" height="65">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="img/scout.png" height="65">
                        </p>
                    </div>

                    <div class="fragment">
                        <p style="text-align: left;">
                            results: can vary
                        </p>
                    </div>
                </section>

                <section>
                    <h2>grunt compass task</h2>
                    <pre><code class="javascript"> module.exports = function ( grunt ) {
     var src = '<%= grunt.option( "src" ) %>';
     var tmp = '<%= grunt.option( "tmp" ) %>';

     grunt.config( 'compass', {
         options: {
             sassDir: src + '/sass',
             cssDir: tmp + '/sass'
         },
         dist: {}
     } );

     grunt.loadNpmTasks( 'grunt-contrib-compass' );
 };</code></pre>
                </section>

                <section>
                    <h2>example: compiling Sass into CSS</h2>
                    <h3>abstracted settings</h3>
                    <br>
                    <div class="fragment">
                        <p style="text-align: left;">
                            <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt compass</code>
                        </p>
                    </div>

                    <div class="fragment">
                        <p style="text-align: left;">
                            <img src="img/sublime.png" height="108">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="img/phpstorm.png" height="108">
                        </p>
                    </div>

                    <div class="fragment">
                        <p style="text-align: left;">
                            results: are the same
                        </p>
                    </div>
                </section>

                <section data-background="img/coffee.jpg"></section>

                <section>
                    <h3>3.</h3>
                    <h1>environments</h1>
                </section>

                <section>
                    <h2>environments: goal</h2>
                    <h3>easily work in a dev and/or production replica environment</h3>
                </section>

                <section>
                    <h2>environments: tools</h2>
                    <br>
                    <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png"></a>
                </section>

                <section data-background="img/4steps.jpg">
                    <h2>environments setup</h2>
                    <h3>in 4 easy steps</h3>
                </section>

                <section style="text-align: left;">
                    <h2>1. separate targets</h2>
                    <br>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:dev</code><br>
                    <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# all source files, commented, unminified</code>
                    <br><br>
                    <div class="fragment">
                        <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:prod</code><br>
                        <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# concat, minified, versioned files</code>
                    </div>
                </section>

                <section style="text-align: left;">
                    <h2>2. output</h2>
                    <table>
                        <tr>
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:dev</code></th>
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:prod</code><br></th>
                        </tr>
                        <tr>
                            <td class="fragment"><pre><code class="bash"> &#x25B8; public
   &#x25B8; static
     &#x25B8; css
       main.css

     &#x25B8; js
       file1.js
       file2.js
       home1.js
       home2.js
       &hellip;

     &#x25B8; fonts
     &#x25B8; img</code></pre></td>

                            <td class="fragment"><pre><code> public
 .... static
      .... css
               main.7f41197e.min.css

      .... js
               plugins.7409b19a.min.js
               common.4923a32c.min.js
               home.47b0990d.min.js

      .... fonts
      .... img


</code></pre></td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h1>4 steps</h1>
                    <ol>
                        <li class="fragment">build task</li>
                        <li class="fragment">populates the output directory</li>
                        <li class="fragment">generates a static assets configuration file</li>
                        <li class="fragment">configuration is used to include assets in the layout</li>
                    </ol>
                </section>

                <section>
                    <h3>1 of 4</h3>
                    <h2>build task</h2>
                    <pre class="fragment"><code> $ > grunt build:dev</code></pre>
                    <div class="fragment"><pre><code> # jshint:     code quality
 # clean:      remove build directory
 # compass:    Sass -> CSS (unminified)
 # versioning: generate CSS/JS config file
 # copy:       copies necessary assets
 # clean:      remove temporary build directories</code></pre></div>

                    <pre class="fragment"><code> $ > grunt build:prod</code></pre>
                    <div class="fragment"><pre><code> # jshint:     code quality
 # clean:      remove build directory
 # compass:    Sass -> CSS (unminified)
 # uglify:     minify and concatenate JS
 # cssmin:     minify CSS
 # versioning: hash min/concat CSS/JS and generate config file
 # copy:       copies necessary assets
 # clean:      remove temporary build directories</code></pre></div>
                </section>

                <section>
                    <h3>2 of 4</h3>
                    <h2>output directory</h2>
                    <table>
                        <tr>
                            <th>:dev (all files)</th>
                            <th>:prod (min/concat files)</th>
                        </tr>
                        <tr>
                            <td class="fragment"><pre><code> public
 .... static
      .... css
               main.css

      .... js
               file1.js
               file2.js
               home1.js
               home2.js
               &hellip;

      .... fonts
      .... img</code></pre></td>

                            <td class="fragment"><pre><code> public
 .... static
      .... css
               main.7f41197e.min.css

      .... js
               plugins.7409b19a.min.js
               common.4923a32c.min.js
               home.47b0990d.min.js

      .... fonts
      .... img


</code></pre></td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h3>3 of 4</h3>
                    <h2>configuration file :dev</h2>
                    <div><pre><code class="php"> &lt;?php
 return array( 'static.assets' => array(

     'global' => array(
         'css' => array( '/static/css/main.css' ),
         'js'  => array( '/static/js/file1.js', '/static/js/file2.js', &hellip; )
     ),

     'home' => array(
         'css' => array(),
         'js'  => array( 'static/js/home1.js', '/static/js/home2.js' )
     ),

     'anotherKey' => array( &hellip; )

 ) );

</code></pre></div>
                </section>

                <section>
                    <h3>3 of 4</h3>
                    <h2>configuration file :prod</h2>
                    <div><pre><code class="php"> &lt;?php
 return array( 'static.assets' => array(

     'global' => array(
         'css' => array( '/static/css/main.7f41197e.min.css' ),
         'js'  => array( '/static/js/plugins.7409b19a.min.js',
                         '/static/js/common.4923a32c.min.js', &hellip; )
     ),

     'home' => array(
         'css' => array(),
         'js'  => array( 'static/js/home.47b0990d.min.js' )
     ),

     'anotherKey' => array( &hellip; )

 ) );
</code></pre></div>
                </section>

               <!-- <section>
                    <h3>3 of 4</h3>
                    <h2>configuration file :dev</h2>
                    <div><pre><code class="javascript"> { "staticAssets": {

     "global": {
       "css": [ '/static/css/main.css' ],
       "js" : [ '/static/js/file1.js', '/static/js/file2.js', &hellip; ]
     },

     "home": {
       "css": []
       "js" : [ 'static/js/home1.js', '/static/js/home2.js' ]
     },

     "anotherKey": { &hellip; }

   }
 }

</code></pre></div>
                </section>

                <section>
                    <h3>3 of 4</h3>
                    <h2>configuration file :prod</h2>
                    <div><pre><code class="javascript"> { "staticAssets": {

     "global": {
       "css": [ '/static/css/main.7f41197e.min.css' ],
       "js" : [ '/static/js/plugins.7409b19a.min.js',
                '/static/js/common.4923a32c.min.js', &hellip; ]
     },

     "home": {
       "css": []
       "js" : [ 'static/js/home.47b0990d.min.js' ]
     },

     "anotherKey": { &hellip; }

   }
 }</code></pre></div>
                </section>-->

                <!--<section>
                    <h3>3 of 4</h3>
                    <h2>configuration file</h2>
                    <table>
                        <tr>
                            <td class="fragment"><pre><code class="javascript"> /* grunt build:dev */
 { "staticAssets": {
     "global": {
       "css": [ '~/main.css' ],
       "js" : [
         '~/file1.js',
         '~/file2.js', &hellip;
       ]
     },
     "home": {
       "css": []
       "js" : [
         '~/home1.js',
         '~/home2.js'
       ]
     }, &hellip;
   }
 }</code></pre></td>

                            <td class="fragment"><pre><code> { "staticAssets": {
     "global": {
       "css": [ '~/main.7f41197e.min.css' ],
       "js" : [
         '~/plugins.7409b19a.min.js',
         '~/common.4923a32c.min.js', &hellip;
       ]
     },
     "home": {
       "css": []
       "js" : [ '~/home.47b0990d.min.js' ]
     }, &hellip;
   }
 }



</code></pre></td>
                        </tr>
                    </table>
                    <pre class="fragment"><code>~ = path e.g. '/static/js', '/static/css'</code></pre>
                </section>-->

                <section>
                    <h3>4 of 4</h3>
                    <h2>usage</h2>
                    <pre><code>&lt;?php $this->versionedAsset()->render( 'global' ); ?&gt;</code></pre>
                    <br>

                    <div class="fragment">
                        <h3>output :dev</h3>
                        <pre><code> &lt;link rel="stylesheet" href="/static/css/main.css">
 &hellip;
 &lt;script src="/static/js/file1.js"&gt;&lt;/script&gt;
 &lt;script src="/static/js/file2.js"&gt;&lt;/script&gt; &hellip;</code></pre>
                    </div>
                    <div class="fragment">
                        <h3>output :prod</h3>
                        <pre><code> &lt;link rel="stylesheet" href="/static/css/main.7f41197e.min.css">
 &hellip;
 &lt;script src="/static/js/plugins.7409b19a.min.js"&gt;&lt;/script&gt;
 &lt;script src="/static/js/common.4923a32c.min.js"&gt;&lt;/script&gt;</code></pre>
                    </div>
                </section>

                <section>
                    <h1>demo</h1>
                </section>

                <section>
                    <h3>4.</h3>
                    <h1>debugging</h1>
                </section>

                <section>
                    <h1>debugging: goal</h1>
                    <h3>effectively debug errors</h3>
                </section>

                <section>
                    <h2>debugging [ compiled, ] concatenated, minified code is hard</h2>
                </section>

                <section data-background="img/bug.png">
                    <h2 class="footnote" style="margin-top: 150px; background: rgba(255,0,0,.6); padding: 5px 0 10px">debugging in production can be scary</h2>
                </section>

                <section>
                    <h1>our approach</h1>
                    <h3>when a bug is found/reported</h3>
                </section>

                <section>
                    <h3>1.</h3>
                    <h1>build dev environment</h1>
                    <ul>
                        <li class="fragment">reproduce the error</li>
                        <li class="fragment">rule out minification error</li>
                        <li class="fragment">use devtools on source files</li>
                        <li class="fragment">update/add unit, regression tests</li>
                        <li class="fragment">generally all you need</li>
                    </ul>
                </section>

                <section>
                    <h3>2.</h3>
                    <h1>build prod environment</h1>
                    <ul>
                        <li class="fragment">reproduce the error</li>
                        <li class="fragment">use devtools with source maps</li>
                        <li class="fragment">still have access to source files</li>
                        <li class="fragment">easier to debug than on the live site</li>
                        <li class="fragment">update/add unit, regression tests</li>
                    </ul>
                </section>

                <section>
                    <h1>recap</h1>
                    <ul>
                        <li class="fragment">being a front-end developer is hard</li>
                        <li class="fragment">build tools make you awesome</li>
                        <li class="fragment">automate the repetitive tasks</li>
                        <li class="fragment">frictionless project setup</li>
                        <li class="fragment">reproduce output every time</li>
                        <li class="fragment">access to dev and production environments locally</li>
                        <li class="fragment">take the stress out of debugging</li>
                    </ul>
                </section>

                <section>
                    <h1>thanks</h1>
                    <h3>questions?</h3>
                    <p class="footnote">
                        <small><a href="http://fabien-d.github.io">Fabien Doiron</a> / <a href="http://twitter.com/fabien_doiron">@fabien_doiron</a></small>
                    </p>
                </section>

            </div>
        </div>

        <script src="../common/lib/js/head.min.js"></script>
        <script src="../common/js/reveal.min.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

                // Parallax scrolling
                // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
                // parallaxBackgroundSize: '2100px 900px',

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: '../common/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: '../common/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '../common/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '../common/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: '../common/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: '../common/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                    // , { src: '../common/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });

        </script>
    </body>
</html>
