<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>What makes me grunt by Fabien Doiron</title>

        <meta name="description" content="A presentation on how build tools can help a front-end developer workflow">
        <meta name="author" content="Fabien Doiron">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="../common/css/reveal.min.css">
        <link rel="stylesheet" href="../common/css/theme/fabien.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="../common/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="../common/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="../common/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section data-background="img/automation.jpg">
                    <h1>what makes me &ldquo;Grunt&rdquo;?</h1>
                    <p>developer happiness courtesy of automation</p>
                    <p class="footnote">
                        <small><a href="http://fabien-d.github.io">Fabien Doiron</a> / <a href="http://twitter.com/fabien_doiron">@fabien_doiron</a></small>
                    </p>

                    <aside class="notes">
                        <ul>
                            <li>confoo call for papers</li>
                            <li>share experience with grunt</li>
                            <li>gulp, broccoli</li>
                            <li>step back, abstraction, build &amp; automation</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/crazy.gif">
                    <h1>no automation</h1>
                    <h3>make me go something something</h3>

                    <aside class="notes">
                        <ul>
                            <li>using build tools for a couple years</li>
                            <li>side, work, fun projects without build tool</li>
                            <li>feel lost</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="../common/img/pingpong.jpg">
                    <h1>I work on Crated</h1>
                    <h3>software developer, front-end</h3>
                    <img src="../common/img/avatar.jpg" class="avatar">
                    <p><a href="http://twitter.com/fabien_doiron">@fabien_doiron</a></p>

                    <aside class="notes">
                        <ul>
                            <li>fabien doiron</li>
                            <li>front-end software developer</li>
                            <li>work on crated</li>
                            <li>community and marketplace for digital artist and photographers</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="../common/img/pingpong.jpg">
                    <p>
                        <a href="http://www.canvaspop.com" style="margin: 0 15px;"><img src="../common/img/cp-logo.png"></a>
                        <a href="http://www.dna11.com" style="margin: 0 15px;"><img src="../common/img/dna-logo.png"></a>
                        <a href="http://www.crated.com" style="margin: 0 15px;"><img src="../common/img/crated-logo.png"></a>
                    </p>
                    <p>
                        <a href="http://developers.canvaspop.com" style="margin: 0 15px;"><img src="../common/img/cpapi-logo.png"></a>
                        <a href="http://remade.canvaspop.com" style="margin: 0 15px;"><img src="../common/img/remade-logo.png"></a>
                    </p>

                    <aside class="notes">
                        <ul>
                            <li>all these projects</li>
                            <li>same guys</li>
                            <li>all under the same roof</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h3>when I got into development</h3>
                    <h2>front-end development was pretty simple</h2>

                    <aside class="notes">
                        <ul>
                            <li>10 or so years ago</li>
                            <li>simple</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h3>typical tools</h3>
                    <h2>HTML / CSS / JS / FTP / browser</h2>

                    <aside class="notes">
                        <ul>
                            <li>know HTML, CSS and some JS</li>
                            <li>FTP, refresh browser</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h3>then something happened</h3>
                    <h2>front-end development became complex</h2>

                    <aside class="notes">
                        <ul>
                            <li>became complex</li>
                            <li>always should have done it</li>
                            <li>now it's just more common</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h3>current typical tools</h3>
                    <h2>linting / preprocessors / concatenation / minification / versioning / testing / coverage / dependency management / continuous deployment / version control / frameworks / libraries&hellip;</h2>

                    <aside class="notes">
                        <ul>
                            <li>typical workflow</li>
                            <li>lots missing</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/stack.jpg">
                    <h1>tools from our stack</h1>
                </section>

                <section>
                    <table>
                        <tr>
                            <th style="text-align: left;">environment:</th>
                            <td style="text-align: left;">
                                <a href="http://www.getchef.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/chef-logo.png" height="100"></a>
                                <a href="http://www.vagrantup.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/vagrant-logo.png" height="100"></a>
                            </td>
                        </tr>
                        <tr class="fragment">
                            <th style="text-align: left;">back-end:</th>
                            <td style="text-align: left;">
                                <a href="http://www.phing.info/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/phing-logo.png"></a>
                                <!--<a href="http://framework.zend.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/zf2-logo.png" height="75"></a>-->
                                <a href="https://getcomposer.org/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/composer-logo.png" height="100"></a>
                            </td>
                        </tr>
                        <tr class="fragment">
                            <th style="text-align: left;">front-end:</th>
                            <td style="text-align: left;">
                                <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png" height="125"></a>
                                <a href="http://www.bower.io/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/bower-logo.png" height="125"></a>
                                <a href="http://www.npmjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/npm-logo.png" height="75"></a>
                            </td>
                        </tr>
                    </table>

                    <aside class="notes">
                        <ul>
                            <li>chef, vagrant ensure same local workspace</li>
                            <li>phing: overall build tool</li>
                            <li>composer</li>
                            <li>grunt: run alone or through phing</li>
                            <li>bower and npm</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/crated.jpg">
                    <h1>4 reasons</h1>
                    <h3>we use build tools &amp; automation</h3>
                    <!--<p>
                        <a href="http://www.phing.info/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/phing-logo.png"></a>
                        <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png" height="125"></a>
                    </p>-->

                    <aside class="notes">
                        <ul>
                            <li>started crated from scratch</li>
                            <li>no hard deadlines</li>
                            <li>generic build tools</li>
                            <li>port over to all projects</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h1>build tools</h1>
                    <h3>in 10 seconds or less</h3>
                </section>

                <section>
                    <h2>what?</h2>
                    <h3>automation</h3>
                </section>

                <section>
                    <h2>why?</h2>
                    <h3>automate what you have but don't want to do</h3>
                </section>

                <section>
                    <h2>how?</h2>
                    <h3>configure a task once, run as often as you want</h3>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> build task:target&nbsp;</code>
                </section>

                <section>
                    <h2>who?</h2>
                    <h3>Grunt, Gulp, Phing, Make, Rake, Jake, Brunch, Ant&hellip;</h3>
                </section>

                <section data-background="img/time.jpg">
                    <aside class="notes">
                        <ul>
                            <li>good on time?</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h3>1.</h3>
                    <h1>project setup</h1>

                    <aside class="notes">
                        <ul>
                            <li>first of 4</li>
                            <li>a lot of projects under 1 roof</li>
                            <li>being able to setup a project is important</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>project setup: goal</h2>
                    <h3>coding ready in minutes</h3>

                    <aside class="notes">
                        <ul>
                            <li>coding ready in minutes</li>
                            <li>don't put a time on it</li>
                            <li>can vary from scract vs update</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>project setup: tools</h2>
                    <br>
                    <table>
                        <tr>
                            <th style="text-align: left;">environment:</th>
                            <td style="text-align: left;">
                                <a href="http://www.getchef.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/chef-logo.png" height="100"></a>
                                <a href="http://www.vagrantup.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/vagrant-logo.png" height="100"></a>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">build tools:</th>
                            <td style="text-align: left;">
                                <a href="http://www.phing.info/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/phing-logo.png"></a>
                                <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png" height="125"></a>
                            </td>
                        </tr>
                    </table>

                    <aside class="notes">
                        <ul>
                            <li>vagrant and chef to build our local workspace</li>
                            <li>ensures all developers have the same machine</li>
                            <li>phing and grunt to build the actual project</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/steps.jpg">
                    <h2>project setup</h2>
                    <h3>in 3 easy steps</h3>
                </section>

                <section style="text-align: left;">
                    <h2>i.</h2>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> git clone &hellip;</code><br>
                    <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# get code from repository</code>
                    <br><br>
                    <div class="fragment">
                        <code><span style="color:#AFAD24">~ &#x25B8;</span> git pull</code><br>
                        <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# get latest code from repository</code>
                    </div>

                    <aside class="notes">
                        <ul>
                            <li>scratch: for example a new developer</li>
                            <li>scratch: clone the repo</li>
                            <li>update: update local repo</li>
                        </ul>
                    </aside>
                </section>

                <section style="text-align: left;">
                    <h2>ii.</h2>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> vagrant up</code><br>
                    <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# puts together a complete environment<br>
&nbsp;&nbsp;&nbsp;&nbsp;# provision environment with chef</code>

                    <aside class="notes">
                        <ul>
                            <li>run a vagrant up</li>
                            <li>optional: may already be running</li>
                        </ul>
                    </aside>
                </section>

                <section style="text-align: left;">
                    <h2>iii.</h2>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> phing proj:build</code><br>
                    <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# get deps with composer, npm &amp; bower<br>
&nbsp;&nbsp;&nbsp;&nbsp;# database migration with phinx<br>
&nbsp;&nbsp;&nbsp;&nbsp;# front-end build with grunt</code>
                    <br><br>
                    <div class="fragment">
                        <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build</code><br>
                        <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# lint, preprocess, concat, min, version<br>
&nbsp;&nbsp;&nbsp;&nbsp;# my personal favourite: ascii</code>
                    </div>

                    <aside class="notes">
                        <ul>
                            <li>once local environment is setup</li>
                            <li>we build our project</li>
                            <li>phing is our main build tool</li>
                            <li>runs everything - see list</li>
                            <li>including grunt</li>
                            <li>grunt can be separate, ran by itself</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/ascii.png">
                    <aside class="notes">
                        <ul>
                            <li>make the terminal fun</li>
                            <li>plus it's obvious when a build completed successfully</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/coffee.jpg"></section>

                <section>
                    <h3>2.</h3>
                    <h1>project output</h1>

                    <aside class="notes">
                        <ul>
                            <li>second point</li>
                            <li>project output</li>
                            <li>extension of project setup</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>project output: goal</h2>
                    <h3>reproducible results regardless of developer setup/workflow</h3>

                    <aside class="notes">
                        <ul>
                            <li>goal with the output is reproducible results</li>
                            <li>freedom for devs to use the tools they want</li>
                            <li>without worry about the output</li>
                        </ul>
                    </aside>
                </section>

                <!--<section data-background="#BC0621">
                    <img src="img/works-on-my-machine.png">

                    <aside class="notes">
                        <ul>
                            <li>main reason this is important</li>
                            <li>avoid at all cost "works on my machine" excuse</li>
                        </ul>
                    </aside>
                </section>-->

                <section>
                    <h2>reduce the risk of
                    <br>&ldquo;<span style="color:#AFAD24">works on my machine</span>&rdquo;<br>
                    by abstracting the output settings from the user to the build tool</h2>

                    <aside class="notes">
                        <ul>
                            <li>mentioned avoid "works on my machine"</li>
                            <li>avoid having settings tied to a dev</li>
                            <li>abstract from user to the project</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>project output: tools</h2>
                    <br>
                    <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png"></a>

                    <aside class="notes">
                        <ul>
                            <li>front-end build tools</li>
                            <li>where the talk gets more focused on front-end</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>compiling CSS: user settings</h2>
                    <br>
                    <div class="fragment">
                        <p style="text-align: left;">
                            <code><span style="color:#AFAD24">~ &#x25B8;</span> sass in.scss:out.css</code><br>
                            <code><span style="color:#AFAD24">~ &#x25B8;</span> lessc in.scss &gt; out.css</code>
                        </p>
                    </div>

                    <div class="fragment">
                        <p style="text-align: left;">
                            <img src="img/codekit.png" height="65">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="img/scout.png" height="65">
                        </p>
                    </div>

                    <div class="fragment">
                        <p style="text-align: left;">
                            results: can vary
                        </p>
                    </div>

                    <aside class="notes">
                        <ul>
                            <li>dive into css example</li>
                            <li>compile css from the terminal</li>
                            <li>compile from a GUI/app</li>
                            <li>results can vary</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>example task (Sass)</h2>
                    <pre><code class="javascript"> module.exports = function ( grunt ) {
     var src = '<%= grunt.option( "src" ) %>';
     var tmp = '<%= grunt.option( "tmp" ) %>';

     grunt.config( 'sass', {
         dist: {
             files: [ {
                 expand: true,
                 cwd: src + '/sass',
                 src: [ '*.scss' ],
                 dest: tmp + '/sass',
                 ext: '.css'
             } ]
         }
     } );

     grunt.loadNpmTasks( 'grunt-contrib-sass' );
 };</code></pre>
                    <aside class="notes">
                        <ul>
                            <li>we use sass</li>
                            <li>our grunt sass task</li>
                            <li>could be any other preprocessor task</li>
                            <li>again, grunt example could be any other build tool</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>compiling CSS: tool settings</h2>
                    <br>
                    <div class="fragment">
                        <p style="text-align: left;">
                            <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt sass</code><br>
                            <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt less</code>
                        </p>
                    </div>

                    <div class="fragment">
                        <p style="text-align: left;">
                            <img src="img/sublime.png" height="65">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <img src="img/phpstorm.png" height="65">
                        </p>
                    </div>

                    <div class="fragment">
                        <p style="text-align: left;">
                            results: are the same
                        </p>
                    </div>

                    <aside class="notes">
                        <ul>
                            <li>look into another example</li>
                            <li>compile css from the terminal using a build tool</li>
                            <li>run the build tool a editor/IDE</li>
                            <li>results are the same</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/coffee.jpg"></section>

                <section>
                    <h3>3.</h3>
                    <h1>coding environment</h1>

                    <aside class="notes">
                        <ul>
                            <li>third point</li>
                            <li>coding environments</li>
                            <li>we've seen local development environment</li>
                            <li>every dev works on the same VM</li>
                            <li>we've seen build tools for same output</li>
                            <li>take that one step further</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>coding environment: goal</h2>
                    <h3>easily work in a dev and/or production replica environment</h3>

                    <aside class="notes">
                        <ul>
                            <li>goal is dev/prod replica coding environments</li>
                            <li>prod replica means exact code that gets deployed</li>
                            <li>any given time we can work on dev or prod environments</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>coding environment: tools</h2>
                    <br>
                    <a href="http://www.gruntjs.com/" style="margin: 0 15px; display: inline-block; vertical-align: middle;"><img src="img/grunt-logo.png"></a>

                    <aside class="notes">
                        <ul>
                            <li>again focused on the front-end build tool</li>
                        </ul>
                    </aside>
                </section>


                <!--
                <section style="text-align: left;">
                    <h2>build targets</h2>
                    <table>
                        <tr>
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:dev</code></th>
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:prod</code><br></th>
                        </tr>
                        <tr>
                            <td style="text-align: left;" class="fragment"><code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# linting<br>
&nbsp;&nbsp;&nbsp;&nbsp;# sass<br>
&nbsp;&nbsp;&nbsp;&nbsp;# versioning*</code></td>
                            <td style="text-align: left;" class="fragment"><code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# linting<br>
&nbsp;&nbsp;&nbsp;&nbsp;# sass<br>
&nbsp;&nbsp;&nbsp;&nbsp;# uglify<br>
&nbsp;&nbsp;&nbsp;&nbsp;# cssmin<br>
&nbsp;&nbsp;&nbsp;&nbsp;# versioning*</code></td>
                        </tr>
                    </table>

                    <aside class="notes">
                        <ul>
                            <li>2 parts that make all of this possible</li>
                            <li>first are build targets</li>
                            <li>separate :dev and :prod targets</li>
                            <li>:dev runs lint, sass and versioning</li>
                            <li>:prod runs lint, sass, uglify, cssmin and versioning</li>
                        </ul>
                    </aside>
                </section>

                <section style="text-align: left;">
                    <h2>grunt-static-versioning</h2>
                    <div class="fragment">
                        <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt versioning:dev</code><br>
                        <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# copy source files to output dir<br>
&nbsp;&nbsp;&nbsp;&nbsp;# generate config file</code>
                    </div>
                    <div class="fragment">
                        <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt versioning:prod</code><br>
                        <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# generate md5 hash from min/concat<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;source files<br>
&nbsp;&nbsp;&nbsp;&nbsp;# append md5 hash to filename<br>
&nbsp;&nbsp;&nbsp;&nbsp;# generate config file</code>
                    </div>

                    <aside class="notes">
                        <ul>
                            <li>second part is the versioning task</li>
                            <li>open sourced task we build</li>
                            <li>2 flags, :dev and :prod</li>
                            <li>:dev copies source files to output directory</li>
                            <li>generates config file, with copied assets</li>
                            <li>:prod generates md5 hash, appends to file name, copies file to output directory</li>
                            <li>generates config file, with copied assets</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h2>grunt versioning task</h2>
                    <pre><code class="javascript"> versioning: {
     options: {
         cwd: 'public',
         outputConfigDir: 'public/config'
     },
     dist: {
         files: [{
             assets: '&lt;%= uglify.main.files %&gt;',
             key: 'global',
             dest: 'js',
             type: 'js',
             ext: '.min.js'
         }, { &hellip; } ]
     }
 }</code></pre>
                    <aside class="notes">
                        <ul>
                            <li>sample grunt versioning task</li>
                            <li>leverages other task, uglify and cssmin</li>
                        </ul>
                    </aside>
                </section>-->

                <section data-background="img/4steps.jpg">
                    <h2>coding environments setup</h2>
                    <h3>in 4 easy steps</h2>

                    <aside class="notes">
                        <ul>
                            <li>seen the 2 major parts of how it works</li>
                            <li>now we're going to break it down to 4 steps</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/workflow1.jpg"></section>

                <section style="text-align: left;">
                    <h2>i. separate targets</h2>
                    <br>
                    <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:dev</code><br>
                    <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# all source files, commented, unminified</code>
                    <br><br>
                    <div class="fragment">
                        <code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:prod</code><br>
                        <code style="color: #36BC26">&nbsp;&nbsp;&nbsp;&nbsp;# concat, minified, versioned files</code>
                    </div>

                    <aside class="notes">
                        <ul>
                            <li>first are the targets</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/workflow1.jpg"></section>
                <section data-background="img/workflow2.jpg"></section>
                <section data-background="img/workflow3.jpg"></section>

                <section>
                    <h2>grunt versioning task</h2>
                    <pre><code class="javascript"> versioning: {
     options: {
         cwd: 'public',
         outputConfigDir: 'public/config'
     },
     dist: {
         files: [{
             assets: '&lt;%= uglify.main.files %&gt;',
             key: 'global',
             dest: 'js',
             type: 'js',
             ext: '.min.js'
         }, { &hellip; } ]
     }
 }</code></pre>
                    <aside class="notes">
                        <ul>
                            <li>sample grunt versioning task</li>
                            <li>leverages other task, uglify and cssmin</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/workflow3.jpg"></section>
                <section data-background="img/workflow4.jpg"></section>

                <section style="text-align: left;">
                    <h2>iii. generated configuration file</h2>
                    <table>
                        <tr>
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:dev</code></th>
                        </tr>
                        <tr>
                            <td class="fragment"><pre><code class="php"> &lt;?php
 return array( 'static.assets' => array(
     'global' => array(
         'css' => array( '/static/css/main.css' ),
         'js'  => array( '/static/js/file1.js', '/static/js/file2.js', &hellip; )
     ),

     'home' => array(
         'css' => array(),
         'js'  => array( 'static/js/home1.js', '/static/js/home2.js' )
     ),

     'anotherKey' => array( &hellip; )
 ) );

</code></pre>
                            </td>
                        </tr>
                    </table>

                    <aside class="notes">
                        <ul>
                            <li>:dev generated config file</li>
                            <li>versioning creates the config file in our config directory</li>
                            <li>always same location/same name</li>
                            <li>includes all source files</li>
                            <li>php shop, php output. task can do JSON as well</li>
                            <li>files are separated into key groupings</li>
                        </ul>
                    </aside>
                </section>

                <section style="text-align: left;">
                    <h2>iii. generated configuration file</h2>
                    <table>
                        <tr>
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:prod</code></th>
                        </tr>
                        <tr>
                            <td class="fragment"><pre><code class="php"> &lt;?php
 return array( 'static.assets' => array(
     'global' => array(
         'css' => array( '/static/css/main.7f41197e.min.css' ),
         'js'  => array( '/static/js/plugins.7409b19a.min.js',
                         '/static/js/common.4923a32c.min.js', &hellip; )
     ),

     'home' => array(
         'css' => array(),
         'js'  => array( 'static/js/home.47b0990d.min.js' )
     ),

     'anotherKey' => array( &hellip; )
 ) );</code></pre>
                            </td>
                        </tr>
                    </table>

                    <aside class="notes">
                        <ul>
                            <li>:prod generated config file</li>
                            <li>versioning creates the config file in our config directory</li>
                            <li>always same location/same name</li>
                            <li>includes only concat/min/versioned files</li>
                            <li>same key, just less files</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/workflow4.jpg"></section>
                <section data-background="img/workflow5.jpg"></section>

                <section style="text-align: left;">
                    <h2>ii. generated output</h2>
                    <table>
                        <tr>
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:dev</code></th>
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:prod</code><br></th>
                        </tr>
                        <tr>
                            <td class="fragment"><pre><code class="markdown"> &#x25BE; public
   &#x25BE; static
     &#x25BE; css
       main.css

     &#x25BE; js
       plugin1.js
       plugin2.js
       common1.js
       common2.js
       home1.js
       home2.js
       &hellip;</code></pre></td>

                            <td class="fragment"><pre><code class="markdown"> &#x25BE; public
   &#x25BE; static
     &#x25BE; css
       main.7f41197e.min.css

     &#x25BE; js
       plugins.7409b19a.min.js
       common.4923a32c.min.js
       home.47b0990d.min.js
       &hellip;



</code></pre></td>
                        </tr>
                    </table>

                    <aside class="notes">
                        <ul>
                            <li>versioning task generates the output</li>
                            <li>seen that it copies file to output</li>
                            <li>:dev public directory with static directory inside</li>
                            <li>copies all files, loses directory structure</li>
                            <li>:prod same overall directory structure</li>
                            <li>copies versioned/concat files</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/workflow5.jpg"></section>
                <section data-background="img/workflow6.jpg"></section>
                <section data-background="img/workflow7.jpg"></section>
                <section data-background="img/workflow8.jpg"></section>
                <section data-background="img/workflow9.jpg"></section>

                <section style="text-align: left;">
                    <h2>iv. use generated configuration file</h2>
                    <br>
                    <pre><code class="php"> // inside our layouts
 &lt;?php $this->versionedAsset()->render( 'global' ); ?&gt;</code></pre>
                    <table>
                        <tr class="fragment">
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:dev</code></th>
                        </tr>
                        <tr>
                            <td class="fragment"><pre><code> &lt;link rel="stylesheet" href="/static/css/main.css">
 &hellip;
 &lt;script src="/static/js/file1.js"&gt;&lt;/script&gt;
 &lt;script src="/static/js/file2.js"&gt;&lt;/script&gt; &hellip;</code></pre></td>
                        </tr>
                        <tr class="fragment">
                            <th style="text-align: left;"><code><span style="color:#AFAD24">~ &#x25B8;</span> grunt build:prod</code></th>
                        </tr>
                        <tr>
                            <td class="fragment"><pre><code> &lt;link rel="stylesheet" href="/static/css/main.7f41197e.min.css">
 &hellip;
 &lt;script src="/static/js/plugins.7409b19a.min.js"&gt;&lt;/script&gt;
 &lt;script src="/static/js/common.4923a32c.min.js"&gt;&lt;/script&gt;</code></pre></td>
                        </tr>
                    </table>

                    <aside class="notes">
                        <ul>
                            <li>inside our templates/layout files</li>
                            <li>viewHelper, pass key load all CSS and JS associated with it</li>
                            <li>:dev output</li>
                            <li>includes all source files</li>
                            <li>:prod output</li>
                            <li>includes concat/min/versioned files</li>
                        </ul>
                    </aside>
                </section>

                <section data-background="img/road.jpg">
                    <h2>why did we go down this road?</h2>
                </section>

                <section data-background="">
                    <h2>cloudfront invalidation ~15 minutes</h2>
                    <h3>no longer applicable*</h3>
                    <p class="footnote"><small>*appending a hash creates a &ldquo;new&rdquo; file</small></p>
                </section>

                <section data-background="">
                    <h2>cleaner includes in our layouts</h2>
                    <div class="fragment">
                        <h3>messy</h3>
                        <pre><code class="php"> if( APPLICATION_ENV == "production") {
     // include concat/min files
 } else {
     // include all dev files
 }</code></pre>
                    </div>
                    <div class="fragment">
                        <h3>clean</h3>
                        <pre><code class="php"> &lt;?php $this->versionedAsset()->render( 'global' ); ?&gt;</code></pre>
                    </div>
                </section>

                <section data-background="img/demo.jpg">
                    <h1>demo</h1>
                </section>

                <section>
                    <h3>4.</h3>
                    <h1>debugging</h1>
                </section>

                <section>
                    <h2>debugging: goal</h2>
                    <h3>effectively debug errors</h3>
                </section>

                <section>
                    <h2>debugging [ compiled, ] concatenated, minified code is hard</h2>
                </section>

                <section>
                    <h2>our approach</h2>
                    <h3>when a bug is found/reported</h3>
                </section>

                <section>
                    <h2>i. build dev environment</h2>
                    <ul>
                        <li class="fragment">reproduce the error</li>
                        <li class="fragment">rule out minification error</li>
                        <li class="fragment">use devtools on source files</li>
                        <li class="fragment">update/add unit, integration, regression tests</li>
                        <li class="fragment">generally all we need</li>
                    </ul>
                </section>

                <section>
                    <h2>ii. build prod environment</h2>
                    <ul>
                        <li class="fragment">reproduce the error</li>
                        <li class="fragment">use devtools with source maps</li>
                        <li class="fragment">still have access to source files</li>
                        <li class="fragment">easier to debug than on the live site</li>
                        <li class="fragment">update/add unit, integration, regression tests</li>
                    </ul>
                </section>

                <section data-background="img/debug.jpg">
                    <h2 style="background: rgba(0,0,0,.8); padding: 5px 0 10px">&ldquo;trying to fix a bug in minified code is like using a new API with no documentation&rdquo;</h2>
                </section>

                <section data-background="img/automation.jpg">
                    <h1>recap</h1>
                </section>

                <section>
                    <ul>
                        <li>being a front-end developer is hard</li>
                        <li class="fragment">build tools make you awesome</li>
                        <li class="fragment">automate the repetitive tasks</li>
                        <li class="fragment">frictionless project setup</li>
                        <li class="fragment">reproduce output every time</li>
                        <li class="fragment">access to dev and production environments locally</li>
                        <li class="fragment">take the stress out of debugging</li>
                    </ul>
                </section>

                <section>
                    <h1>resources</h1>
                    <ul>
                        <li><a href="http://www.getchef.com/">chef</a></li>
                        <li><a href="http://www.vagrantup.com/">vagrant</a></li>
                        <li><a href="http://www.phing.info/">phing</a></li>
                        <li><a href="http://framework.zend.com/">zend framework</a></li>
                        <li><a href="https://getcomposer.org/">composer</a></li>
                        <li><a href="http://www.gruntjs.com/">grunt</a></li>
                        <li><a href="http://www.bower.io/">bower</a></li>
                        <li><a href="http://www.npmjs.com/">npm</a></li>
                        <li><a href="https://github.com/canvaspop/grunt-static-versioning">grunt static versioning</a></li>
                    </ul>
                </section>

                <section data-background="../common/img/awesome.jpg">
                    <code>CONFOO2014</code><br><br>
                    <h1 style="margin: 0;">40% off</h1>
                    <h3>coupon code because you were awesome</h3>
                    <a href="http://canvaspop.com"><img src="../common/img/cp-logo.png"></a>
                    <p class="footnote" style="top: 100px"><small>*valid until March 30, 2014</small></p>
                </section>

                <section>
                    <h3>thank you</h3>
                    <h1>questions</h1>
                    <p class="footnote">
                        <small><a href="http://fabien-d.github.io">Fabien Doiron</a> / <a href="http://twitter.com/fabien_doiron">@fabien_doiron</a></small>
                    </p>
                </section>

            </div>
        </div>

        <script src="../common/lib/js/head.min.js"></script>
        <script src="../common/js/reveal.min.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

                // Parallax scrolling
                // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
                // parallaxBackgroundSize: '2100px 900px',

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: '../common/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: '../common/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '../common/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: '../common/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: '../common/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: '../common/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                    // , { src: '../common/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });

        </script>
    </body>
</html>
